@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@400;500;600;700;800&display=swap');

/* 
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; */

:root{
    --text-color1:rgba(255,255,255,0.8);
    --text-color2:#333333;
    --link-color:rgba(82, 92, 235, 0.8);
    --background-color:rgba(0,0,0,0.9);
    --footer-color:rgba(229, 225, 218, 0.8);
    --whatsapp-color:rgba(8, 161, 103, 1);
    --whatsapp-shade-color:rgb(2, 107, 67);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    }

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.3rem;
}
/* loader container */



.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    inset: 0;
    z-index: 99999;
    background-color: var(--link-color);
    display: grid;
    place-content: center;
    font-family: 'Rubik', sans-serif;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}

svg{
    width: 20rem;
    height: 15rem;
    font-weight:bold ;
}
svg text{
    font-size: 5rem ;
    stroke-width: 2 ;
    letter-spacing:-6 ;
}
svg text.text-body{
    stroke: var(--text-color1);
    animation: 4s infinite alternate animate-stroke;
}
.text-body:nth-child(2){
    stroke: yellow;
    animation: 4s infinite alternate color-change;
}


@keyframes color-change{
    0%{
        fill: transparent;
        stroke:yellow ;
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50%{
        fill: transparent;
        stroke:yellow ;
        stroke-width: 3;
    }
    80%,100%{
        fill: yellow;
        stroke:transparent ;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}
@keyframes animate-stroke{
    0%{
        fill: transparent;
        /* stroke:var(--loader-text-color) ; */
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50%{
        fill: transparent;
        /* stroke:var(--loader-text-color) ; */
        stroke-width: 3;
    }
    80%,100%{
        fill: var(--text-color1);
        stroke:transparent ;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}


.loader-container.hidden{
    opacity: 0;
    visibility: hidden;
}
#all-content{
    opacity: 0;
    transform: translate3d(0,-1rem,0);
    transition: opacity .6s ease-in-out ,transform .6s ease-in-out,filter 0.8s ease-in;
}
#all-content.visible{
    opacity: 1;
    transform: translate3d(0,0,0);
}

/* loader container css end */


header{
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
}
/* header logo section */
.logo-link{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    text-decoration: none;
    gap: 0.625rem;  
}
.com-logo-img{
    width: 2.8rem;
}
.logo-name-slogan{
    color: var(--text-color1);
    text-align: left;
}
.logo-text{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    display: block
}
.logo-slogan{
    color: var(--footer-color);
    font-size: 0.9rem;
    display: block;
    font-family: 'Alegreya Sans SC', sans-serif;
}
/* whatsapp mobile  */
.whatsapp-mob-btn{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 10;
}
.whatsapp-mob-btn img {
    width: 48px;
}
/* nav links  */

.nav-link{
    font-size: 1rem;
    font-weight: 600;
    transform: color 0.5s;
    padding: 0.5rem 1rem;
    color: var(--text-color1);
}
.active{
    color: var(--link-color);
}

.whatsapp-part{
    border: none;
    background-color: var(--whatsapp-color);
    text-align: center;
    transition: display,background-color .5s ease-in-out;
}
.whatsapp-part:hover{
    background-color: var(--whatsapp-shade-color);
}

.whatsapp-btn{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.9rem;
    text-align: center;
    font-weight: 500;
    color: var(--text-color1);
    
}
.whatsapp-btn i{
    font-size: 1.5rem;
    padding: 0.12rem 0.2rem;
}

.menu-btn{
    display: none;
}
.menu-btn{
    background: var(--text-color1);
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
}
.menu-btn i{
    font-size: 20px;
}

.mobile-nav{
    display: none; 
}

.mob-nav-link{
    color: var(--text-color1);
    width: 100%;
    text-align: left;
    font-size: 1.11rem;
    padding: .5rem;
}


/* hero section  */
.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: filter 0.5s ease-in;
}
.hero-container::before{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--background-color);
    z-index: -1;
    width: 100%;
    height: 100%;
}
.hero-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.hero-content{
    width: 50%;
    text-align: left;
    margin-left: 4.5rem;
    animation: slide 3s ease forwards;
}
@keyframes slide{
    0%{
        opacity: 0;
        transform:translateX(-100%) ;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.hero-content h1{
    color: var(--link-color);
}
.hero-content p{
    color: var(--footer-color);
    margin: 1rem 0;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.hero-media-content{
    width: 50%;
    /* display: none; */
    visibility: hidden;
    object-fit: cover;
}
.hero-media-content img {
    width: 100%;
}




.sample-btn {
    --min-width: 150px;
    /* --min-height: 60px; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-size: 22px; */
    text-transform: uppercase;
    /* letter-spacing: 1.3px; */
    font-weight: 700;
    color: #313133;
    /* background: #4FD1C5; */
    background-color: var(--text-color1);
  /* background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%); */
    border: none;
    border-radius: 1000px;
    /* box-shadow: 12px 12px 24px rgba(79,209,197,.64); */
    box-shadow: 1px 1px 10px var(--text-color1);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .sample-btn::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(130px + 12px);
    min-height: calc(50px + 12px);
    /* border: 2px solid #00FFCB; */
    border: 2px solid var(--text-color1);
    /* box-shadow: 0 0 60px rgba(0,255,203,.64); */
    box-shadow: 0 0 10px var(--text-color1);
    box-shadow: 0 0 10px var(--text-color1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .sample-btn:hover {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .sample-btn:hover::before{
    opacity: 1;
  }
  
  .sample-btn::after {
    content: '';
    width: 5px; height: 5px;
    border-radius: 100%;
    /* border: 3px solid #00FFCB; */
    border: 1px solid var(--text-color1);
    position: absolute;
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .sample-btn:hover::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 50px;
      height: 50px;
      opacity: 1;
    }
    100% {
      width: 90px;
      height: 90px;
      opacity: 0;
    }
  }

/* .sample-btn{ */
    /* background-color: var(--text-color1); */
    /* color: var(--text-color2); */
    /* transition-property: all; */
/* } */
/* .sample-btn:hover{ */
    /* background:none; */
    /* border: 2px solid var(--text-color1); */
    /* color: var(--link-color); */
    /* font-size: 1.2rem; */
/* } */
.enquiry-btn{
    color: var(--text-color1);
    margin-left: 2rem;
    background-image: linear-gradient(var(--link-color),var(--link-color));
    border: 2px solid var(--link-color);
    transition: background .5s ease;
    background-repeat: no-repeat;
    /* transition-property: all; */
    padding: 0.5rem 1rem;
    background-size: 0 100%;
    text-transform: uppercase;
}
.call-icon{
    padding-left: 0.5rem;
    animation: none;
}
.enquiry-btn:hover, .call-icon{
    background-size: 100% 100%;
    background-color: var(--link-color) left;
    /* color: var(--link-color); */
    /* font-size: 1.2rem; */
}
.enquiry-btn:hover .call-icon{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0% { transform: skewY(-15deg); }
    5% { transform: skewY(15deg); }
    10% { transform: skewY(-15deg); }
    15% { transform: skewY(15deg); }
    20% { transform: skewY(0deg); }
    100% { transform: skewY(0deg); }
   }

/* service container */
.service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.9rem;
    margin-top: 1.5rem;
    color: var(--text-color1);
    width: 100%;
}

.service-content{
    /* border: 1px solid var(--whatsapp-color); */
    border-radius: 1rem;
    margin-top: 2rem;
    width:70% ;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}
.img-content{
    width: 30%;
}
.img-content img{
    width: 100%;
}
.text-content{
    width: 70%;
    text-align: left;
    padding-left: 2rem;
}
.text-content h3{
    font-size: 1.5rem;
}
.text-content p{
    margin-top: 0.9rem;
    padding: 0 1rem 0 0;
    color: var(--footer-color);
}

.demo{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background-color: violet ;
    position: absolute;
    top: 98%;
    left: 20%;
    z-index: -10000000000000000;
}

/*testimonial section */
.testimonial-container{
    width: 100%;
    display: flex;
    margin: 7rem 0;
    overflow-x: scroll;
}
.all-cards{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    flex: none;
}
.testimonial-container::-webkit-scrollbar{
    display: none;
}
 

.testimonial-box{
    width: 17rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgba(255, 255, 255, .15);
    /* backdrop-filter: blur(5px); */
    height: 25rem;
    border: 1px solid var(--text-color1);
    /* --border-width: 2px; */
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem;
    margin: 0 1rem;
    /* position: relative; */
    }


/* 
    .testimonial-box::after{
        position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
    } */
/* 

    @keyframes moveGradient {
        50% {
          background-position: 100% 50%;
        }
      } */


.testimonial-box img{
    width: 3rem;
    margin: 0.5rem;
}
.testimonial-box h3{
    color: var(--text-color1);
    margin-top: 0.2rem;
}
.avatar-occupation{
    font-size: 0.7rem;
    color: var(--whatsapp-color);
    margin-bottom: 1rem;
}
.testimonial-box .people-message{
    color: var(--footer-color);
    text-align: justify;
    font-style: italic;
}


/* footer container style */
.fotter-container{
    width: 100%;
    padding: 2rem 8rem;
    background-color: var(--footer-color);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
    /* company prof-links */
    .footer-top{
        width: 50%;
    }
    .footer-top-p{
        color: #777;
        font-size: 1rem;
    
    }
    .footer-comp-logo{
        margin-bottom: 1rem;
    }
    .company-social-media a{
        margin: 0.4rem;
    }
    .company-social-media a img{
        width: 1.5rem;
    }

.all-links{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.footer-menu{
    display: flex;
    gap:2rem;
    text-align: left;
}

.li-style ul{
    list-style-type: none;
}
.li-style ul li  a{
    text-decoration: none;
    color: var(--text-color2);
    transition: color .3s ease;
}
.li-style ul li  a:hover{
    color: var(--link-color);
}
.li-style ul li {
    padding: 0.5rem 0;
}
.footer-menu-title{
    font-weight: bold;
    color: var(--background-color);
}

.copyright{
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--text-color2);
}
/* Universal class */
.btn-radius{
    border-radius: 50px;
}
.blur-bg{
    filter: blur(0.2rem);
}
